<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./spark-md5.min.js"></script>
<body>
    <div id="app">
        <input type="file" @change="fileChange">
        <el-button type="primary" @click="uploadFileChunk">上传</el-button>
        <el-button type="primary" @click="getFileHash">生成文件hash</el-button>
        <el-button type="primary" @click="mergeFileChunk">合并文件</el-button>
        <!--  非切片方式上传  测试使用上传组件直接上传     -->
        <hr>
        <div>
            <el-upload
                    class="upload-demo"
                    action="/upload/file"
                    multiple
                    :limit="3"
                    :file-list="fileList">
                <el-button size="small" type="primary">点击上传</el-button>
                <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
            </el-upload>
        </div>
        <hr>
        <el-button type="primary" @click="fileRead">测试读写文件</el-button>
    </div>
</body>
<script>
    const app = new Vue({
      el: '#app',
      data() {
        return {
          size: 1*1024*1024,  // 切片大小
          fileChunkList: [], // 文件切片 list
          fileList: [],
          file: {} // 当前上传文件的相关信息
        }
      },
      methods: {
        // 文件变化
        fileChange(e) {
          const { files } = e.target
          const { size, name, type} = files[0]
          console.info('当前文件', files);
          console.info('当前文件', size, name, type);
          this.file = {
            name: name,
            size: size,
            type: type,
            value: files[0]
          }
          // 文件切片 切片后的文件存储
          let fileData =  this.createFileChunk(files[0], this.size);
          this.fileChunkList = fileData.map(({file}, index) => ({
            chunk: file,
            hash: name + '-' + index
          }))
          console.info('文件切片后的数据', this.fileChunkList);
        },
        // 生成文件切片
        createFileChunk(file, size) {
          let fileChunkList = []; // 文件切片list
          let curSize = 0; // 切片后文件大小
          let index = 0;
          console.info(' 生成文件切片', file);
          while(curSize < file.size) {
            fileChunkList.push({
              file: file.slice(curSize, curSize + size),
            })
            curSize += size
            index ++
          }
          return fileChunkList
        },
        // 上传切片
        async uploadFileChunk() {
          let _this = this
          let requestList = _this.fileChunkList.map(({chunk, hash}) => {
            let formData = new FormData();
            formData.append('chunk', chunk);
            formData.append('hash', hash);
            formData.append('fileName', _this.file.name);
            return { formData };
          })
          .map(async ({formData}) => {
            _this.request('/upload','post', formData)
          })
          // 等待所有的切片上传完成
          await Promise.all(requestList)
          // 所有切片上传完成
          console.log(`%c切片上传完成，需要合并切片`, 'color: #43bb88;font-size: 12px;');
        },
        // 文件不切片 直接上传
        uploadFile(files) {
            const formData = new FormData();
            formData.append('file', files)
            this.request('/upload', 'post',formData)
        },
        // 合并切片
        mergeFileChunk() {
            this.request(
              `/upload/merge?fileName=${this.file.name}&size=${this.size}`,
              'get')
        },
        // 测试文件读写
        fileRead() {
          let name = 'pexels-pixabay-40896.jpg-1'
          this.request(`/read/file?fileName=${name}`,'get')
        },
        // 请求
        request(url, method, data, header={}, requestList) {
          return new Promise(resolve => {
            const xhr = new XMLHttpRequest();
            xhr.open(method,url);
            Object.keys(header).forEach(key =>{
              xhr.setRequestHeader(key, header[key])
            })
            xhr.send(data)
            xhr.onload= e => {
              resolve({
                data: e.target.response
              })
            }
          })
        },
        // 获取当前文件的hash值
       async getFileHash() {
         let hash = await this.createFileHash();
          console.info('获取当前文件的hash值', hash);
        },
        // 生成文件hash
        createFileHash() {
          /**
           * 根据文件内容生成文件hash（不会因文件名变化重新上传）
           *  生成文件hash的过程，会因当前文件较大阻塞进程，导致页面假死
           *  这里使用的了web-worker在worker线程计算hash,保证用户的正常交互
           */
          return new Promise(resolve => {
            let count = 0
            let spark = new SparkMD5.ArrayBuffer()
            let _this = this
            _this.fileChunkList.map((chunk, hash) => {
              let fileReader = new FileReader();
              fileReader.readAsArrayBuffer(chunk);
              fileReader.onload = function(e) {
                count ++;
                if(count === _this.fileChunkList.length) {
                  resolve(spark.end())
                }
              }

            })

            // let worker = new Worker('./hash.js');
            // worker.postMessage( this.fileChunkList)
            // worker.onmessage = e => {
            //   const { hash } = e.data;
            //   if (hash) {
            //     resolve(hash);
            //   }
            // }
          })
        }
        /**
         * 断点续传
         *  记录当前哪些已经传输，哪些未传输
         *
         *  文件秒传
         *  依赖上一步生成的文件hash，对比文件hash,一旦发现已经上传过，直接显示上传成功
         */
      }
    })
</script>
</html>
