<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<body>
    <div id="app">
        <input type="file" @change="fileChange">
        <el-button type="primary" @click="uploadFileChunk">上传</el-button>
        <!--  非切片方式上传  测试使用上传组件直接上传     -->
        <hr>
        <div>
            <el-upload
                    class="upload-demo"
                    action="/upload/file"
                    multiple
                    :limit="3"
                    :file-list="fileList">
                <el-button size="small" type="primary">点击上传</el-button>
                <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
            </el-upload>
        </div>
    </div>
</body>
<script>
    const app = new Vue({
      el: '#app',
      data() {
        return {
          size: 1*1024*1024,  // 切片大小
          fileChunkList: [], // 文件切片 list
          fileList: [],
          file: {} // 当前上传文件的相关信息
        }
      },
      methods: {
        // 文件变化
        fileChange(e) {
          const { files } = e.target
          const { size, name, type} = files[0]
          console.info('当前文件', files);
          console.info('当前文件', size, name, type);
          this.file = {
            name: name,
            size: size,
            type: type,
            value: files[0]
          }
          // 文件切片 切片后的文件存储
          let fileData =  this.createFileChunk(files[0], this.size);
          this.fileChunkList = fileData.map(({file}, index) => ({
            chunk: file,
            name: name + '-' + index
          }))
          console.info('文件切片后的数据', this.fileChunkList);
        },
        // 生成文件切片
        createFileChunk(file, size) {
          let fileChunkList = []; // 文件切片list
          let curSize = 0; // 切片后文件大小
          let index = 0;
          console.info(' 生成文件切片', file);
          while(curSize < file.size) {
            fileChunkList.push({
              file: file.slice(curSize, curSize + size),
            })
            curSize += size
            index ++
          }
          return fileChunkList
        },
        // 上传切片
        async uploadFileChunk() {
          let _this = this
          let requestList = _this.fileChunkList.map(({chunk, hash}) => {
            let formData = new FormData();
            formData.append('chunk', chunk);
            formData.append('hash', hash);
            formData.append('fileName', _this.file.name);
            return { formData };
          })
          .map(async ({formData}) => {
            _this.request('/upload','post', formData)
          })
          // 等待所有的切片上传完成
          // await Promise.all(requestList)
        },
        // 文件不切片 直接上传
        uploadFile(files) {
            const formData = new FormData();
            formData.append('file', files)
            this.request('/upload', 'post',formData)
        },
        // 请求
        request(url, method, data, header={}, requestList) {
          return new Promise(resolve => {
            const xhr = new XMLHttpRequest();
            xhr.open(method,url);
            Object.keys(header).forEach(key =>{
              xhr.setRequestHeader(key, header[key])
            })
            xhr.send(data)
            xhr.onload= e => {
              resolve({
                data: e.target.response
              })
            }
          })
        }
      }
    })
</script>
</html>
